<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Hangman Pro Max</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">

</head>

<body>

<h1 class="logo">🎮 Hangman Pro Max</h1>

<p class="subtitle">
    Guess. Win. Climb the Leaderboard.
</p>

<div class="feature-box">
    <span>🏆 Leaderboard</span>
    <span>🔥 Achievements</span>
    <span>⏱ Timer</span>
</div>

<form action="/login" method="POST">

    <input
        type="text"
        name="username"
        placeholder="Enter Username"
        required>

    <select name="difficulty">

        <option value="easy">
            Easy (8 Lives)
        </option>

        <option value="medium" selected>
            Medium (6 Lives)
        </option>

        <option value="hard">
            Hard (4 Lives)
        </option>

    </select>

    <button type="submit">
        🚀 Start Adventure
    </button>

</form>

<div class="footer-text">
    Developed by Dharshini S
</div>

</body>
</html>
